{% load static %}
<html>
<head>
	<title>videos</title>
	<style>
		a:link, a:visited {
  background-color:limegreen;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color:lightgreen;
}

</style>
</head>
<body>
    <br>
	<div style="margin-left:90%">
	<a href="http://127.0.0.1:8000/">Home</a>
</div><br><br>
<table align="center">
	<div class="main">
<tr>
<td>
<h2>Bhujangaasana</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/luTSRGXPEMs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</td>
<td>
<h2>Advasana</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/fLhdAQqu5ig" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</td>
<td>
    <h2>Padangusthasana</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/a4wuKEUqGZA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</td>
</tr>
<tr>
    <td>
        <h2>Shalabhasana</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/LW-3i54soLM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </td>
     <td>
        <h2>Ardha Matsyendrāsana</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/_rlPsepTnzo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>  
      </td>
      <td>
        <h2>Dandasana</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/psFz0mtWiCU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </td>
</tr>
<tr>
    <td>
        <h2>Marjariasana</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/wbQNELuek5o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>    </td>
     <td>
        <h2>Ardha Pincha Mayurasana
        </h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/W9qEcTjmA78" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>      </td>
      <td>
        <h2>Balasana</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/2MJGg-dUKh0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>          </td>
</tr>
					


</table>
</body>
</html>